@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.containerGeralGrupUsina{
  width: 100vw;
  min-height: 100vh;
}

.navbar{
  width: 100vw;
}

.bannerInicial{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-image: url("/img/grupusina8.jpeg");
  background-size: cover;
  background-position: center;
}

.bannerInicialTexto h1{
  text-shadow: 1px 1px 1px #000000;
}

.historico{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: "50vw 50vw";
  grid-template-areas: "historicoTitulo historicoTitulo"
                       "historicoTextos historicoBanner";
  width: 100vw;
  min-height: 100vh;
  gap: 5px;
}

.historicoTitulo{
  grid-area: historicoTitulo;
  width: 100vw;
  max-height: 2rem;
}

.historicoBanner{
  grid-area: historicoBanner;
  width: 45vw;
  height: 60vh;
}

.historicoBanner p{
  font-size: 0.8rem;
}

.historicoTextos{
  grid-area: historicoTextos;
  width: 50vw;
  height: 60vh;
}

.historicoTextos p{
  font-size: 0.9rem;
  line-height: 2rem;
}

.secaoAtores{
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "atoresTitulo atoresTitulo atoresTitulo"
                        "ator1 ator2 ator3";
  grid-template-columns: "30vw 30vw 30vw";
  width: 100vw;
  min-height: 90vh;
}

.atoresTitulo{
  grid-area: atoresTitulo;
  width: 100vw;
  max-height: 2rem;
}

.card-body i{
  font-size: 1.5rem !important;
}

.ator1{
  grid-area: ator1;
  width: 20rem;
  min-height: 60vh;
}

.ator2{
  grid-area: ator2;
  width: 20rem;
  min-height: 60vh;
}

.ator3{
  grid-area: ator3;
  width: 20rem;
  min-height: 60vh;
}

.secaoApresentacoes{
  width: 100vw;
  min-height: 100vh;
}

.apresentacao{
  width: 45vw;
  min-height: 50vh;
  overflow: hidden;
  background-size: cover;
}

.apresentacao img{
  max-width: 90%;
}

.apresentacaoDescricao{
  width: auto !important;
}

.apresentacao p{
  font-size: 0.9rem;
  line-height: 2rem;
}

.secaoRodape{
  width: 100vw;
  min-height: 8rem !important;
  background-color: #000000;
}

.secaoRodape i{
  font-size: 1.75rem;
}

.secaoRodape a,
.secaoRodape h6{
  font-size: 0.75rem;
}




/*Resolução para dispositivos de até 30rem*/
@media screen and (max-width: 40rem) {
  .bannerInicialTexto h1{
    font-size: 1.5rem;
  }
  .bannerInicial img{
    max-width: 100%;
  }
  .historico{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
  }

  .historicoTextos h5,
  .historicoTitulo h4{
    text-align: center !important;
  }

  .historicoBanner,
  .historicoTextos{
    width: 99vw;
    height: auto;
    padding: 0.3125rem !important;
  }
  .historicoBanner p{
    font-size: 0.875rem !important;
  }
  .historicoTextos p{
    font-size: 0.8rem;
    line-height: 1.75rem;
  }
  .apresentacao{
    width: 100vw;
    margin: 0.3875rem auto;
  }
  .apresentacao h5{
    font-size: 1rem;
  }
  .apresentacao p{
    font-size: 0.75rem;
    line-height: 1.8rem;
  }
  .secaoAtores{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .secaoAtores p{
    font-size: 0.8rem;
  }
  
}