@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.containerGeralGrupUsina{
  width: 100vw;
  min-height: 100vh;
}

.navbar{
  width: 100vw;
}

.bannerInicial{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-image: url("/img/grupusina8.jpeg");
  background-size: cover;
  background-position: center;
}

.bannerInicialTexto h1{
  text-shadow: 1px 1px 1px #000000;
}

.historico{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: "50vw 50vw";
  grid-template-areas: "historicoTitulo historicoTitulo"
                       "historicoTextos historicoBanner";
  width: 100vw;
  min-height: 100vh;
  gap: 5px;
}

.historicoTitulo{
  grid-area: historicoTitulo;
  width: 100vw;
  max-height: 2rem;
}

.historicoBanner{
  grid-area: historicoBanner;
  width: 45vw;
  height: 60vh;
}

.historicoTextos{
  grid-area: historicoTextos;
  width: 50vw;
  height: 60vh;
}

.historicoTextos p{
  font-size: 0.9rem;
  line-height: 2rem;
}





/*Resolução para dispositivos de até 30rem*/
@media screen and (max-width: 40rem) {
  .bannerInicial img{
    max-width: 100%;
  }
  .historico{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
  }
  .historicoBanner,
  .historicoTextos{
    width: 100vw;
    height: auto;
  }
  
}