@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.maloka{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    gap: 5px;
    grid-template-rows: auto;
    grid-template-columns: "24vw 38vw 38vw";
    grid-template-areas: "malokaTitulo malokaTitulo malokaTitulo"
                         "malokaTextos malokaCapa malokaCapa"
                         "malokaImagem malokaCapa malokaCapa";
}

.malokaTitulo{
    grid-area: malokaTitulo;
    width: 100vw;
    height: 1.5rem;
}

.malokaTextos{
    grid-area: malokaTextos;
    width: 24vw;
    height: 49vh;
}

.malokaCapa{
    grid-area: malokaCapa;
    width: 76vw;
    height: 98vh;
}

.malokaCapa img,
.malokaImagem img{
    max-width: 100%;
    max-height: 100%;
}

.malokaImagem{
    grid-area: malokaImagem;
    width: 24vw;
    height: 49vh;
}

