html {scroll-behavior: smooth}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerSite{
    width: 100vw;
    height: auto;
}

.image-container {
  position: relative;
  display: inline-block; 
}

.image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.navegacao{
    min-height: 4rem !important;
}

#btnNavegacao{
    padding: 5px 10px !important;
}

.bannerCapa{
    position: relative;
    background-position: center;
    background-size: cover;
    max-height: 85vh !important;
    width: 100vw;
    overflow: hidden;
}

.bannerCapa img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.boxHistorico{
    width: 100vw;
    min-height: 100vh;
}

.historicoImagem{
    height: 45vh;
    background-size: cover;
}

.historicoImagem img{
    width: 100%;
    border-radius: 3px;
}

.historicoTextos{
    min-height: 50vh;
}

.historicoTextos p{
    line-height: 35px;
}

.profissionais{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: "25vw 25vw 25vw";
    grid-template-areas: "profissionalTitulo profissionalTitulo profissionalTitulo"
                           "profissionalViviane profissionalMatos profissionalUarlen"
                           "profissionalViviane profissionalMatos profissionalUarlen"
                           "profissionalViviane profissionalMatos profissionalUarlen";
    width: 100vw;
    min-height: 100vh;
    gap: 5px;
}

.profissionalTitulo{
    grid-area: profissionalTitulo;
    width: 100vw;
    height: 2rem;
}

.profissionalViviane{
    grid-area: profissionalViviane;
    width: 25vw;
    height: 80vh;
}

.viviFoto img{
    max-width: 100%;
}

.profissionalMatos{
    grid-area: profissionalMatos;
    width: 25vw;
    height: 80vh;
}

.profissionalUarlen{
    grid-area: profissionalUarlen;
    width: 25vw;
    height: 80vh;
}

/*.caixaEspecialistas{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap !important;
}

.especialistaTitulo{
    display: flex;
    align-self: center !important;
    justify-self: center !important;
}

.especialistas{
    width: 20rem;
    min-height: 30rem !important;
}

.especialistas img{
    width: 100%;
    overflow: hidden;
}

.especialistas:hover{
    transform: scale(1.05) !important;
    transition: ease-in-out .3s !important;
}

.especialistas img:hover{
    zoom: 1.25;
}

.especialistas p:hover{
    color: orange !important;
}*/

.midias{
    display: flex;
    align-items: center;
    justify-content: center;
}

.midias i {
    font-size: 1.5rem;
}

.espacoViviane{
    scroll-margin-top: 15rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: "25vw 37vw 37vw";
    grid-template-areas:   "viviTitulo viviTitulo viviTitulo"
                           "viviFoto viviTextos viviTextos"
                           "viviCarrossel viviCarrossel viviCarrossel";
    gap: 5px;
    width: 100vw;
    min-height: 100vh !important;
}

.viviTitulo{
    grid-area: viviTitulo;
    width: 100vw;
    height: 2rem;
}

.viviFoto{
    grid-area: viviFoto;
    width: 25vw;
    min-height: auto !important;
}

.viviFoto img{
    max-width: 100%;
    max-height: 100%;
}

.viviTextos{
    grid-area: viviTextos;
    width: 74vw;
    min-height: 33vh;
}

.viviTextos p{
    line-height: 35px;
}

.viviCarrossel{
    grid-area: viviCarrossel;
    width: 99vw;
    min-height: 40vh;
}

.grupUsina{
    scroll-margin-top: 6rem;
    width: 100vw;
    min-height: 100vh;
}

.grupUsina p{
    line-height: 35px;
}

.grupUsina span{
    font-weight: bolder;
}

.carousel,
.carousel-item {
    height: 80vh !important; 
    overflow: hidden !important; 
}

.carousel-item {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.maloka{
    scroll-margin-top: 6rem;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: "20vw 39vw 39vw";
    grid-template-areas: "malokaTitulo malokaTitulo malokaTitulo"
                         "malokaTextos malokaCapa malokaCapa"
                         "malokaImagem malokaCapa malokaCapa";
    gap: 5px;
}

.malokaTitulo{
    grid-area: malokaTitulo;
    width: 99vw;
    height: 2rem;
}

.malokaTextos{
    grid-area: malokaTextos;
    width: 20vw;
    min-height: 40vh;
}

.malokaTextos p{
    line-height: 27.5px;
}

.malokaImagem{
    grid-area: malokaImagem;
    width: 20vw;
    min-height: 30vh;
    overflow: hidden;
}

.malokaCapa{
    grid-area: malokaCapa;
    width: 78vw;
    height: auto;
    overflow: hidden;
}

.malokaCapa img{
    max-width: 100%;
}

.card{
    border: none !important;
}

.parceiras{
    scroll-margin-top: 6rem;
    width: 100vw;
    min-height: 75vh;
}

.empresas{
    display: flex;
    align-items: center;
    justify-content: center;
}

.parceiras p{
    line-height: 32px !important;
}

.secaoFormulario{
    scroll-margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('/img/fundo.jpg');
    background-size: cover;
    width: 100vw;
    min-height: 85vh;
    overflow: hidden;
}

.secaoFormulario img{
    max-width: 100%;
}

.formulario{
    backdrop-filter: blur(30px);
    border: .5px solid grey;
    width: 60vw;
    min-height: 70vh;
}

.rodape{
    width: 100vw;
    min-height: 8rem;
    background-color: black;
}

.rodape i:nth-child(1){
    font-size: .8rem;
}

.midiasRodape i{
    font-size: 1.25rem !important;
}

.midiasRodape i:hover{
    color: orange !important;
    cursor: pointer !important;
    font-size: 1.30rem !important;
}

.rodape a{
    text-decoration: none !important;
}

.rodape h6{
    font-size: .8rem;
    font-weight: normal !important;
}





/*Resolução para dispositivos com até 720px*/
@media screen and (max-width: 45rem) {
    .historicoTextos{
        text-align: left !important;
        margin-bottom: 0 !important;
    }
    .historicoImagem{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        width: 100vw;
        height: auto;
        position: relative;
        overflow: hidden;
    }
    .historicoImagem img{
        width: auto;
        height: 100% !important;
    }
    .caixaEspecialistas{
        flex-direction: column;
    }
    .especialistas{
        width: 100vw;
        margin: 5px;
        padding: 5px;
    }
    .parceiras,
    .empresas{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
    }
    .card{
        width: 250px;
    }
    .card img{
        max-width: 80%;
        margin: 20px auto !important;
    }
    .parceira{
        margin: 10px auto;
        width: 100vw;
    }
    .espacoViviane{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .espacoViviane h4{
        font-size: 1rem;
    }
    .viviFoto{
        width: fit-content;
    }
    .viviTextos{
        width: 100vw;
        text-align: center;
    }
    .viviTextos p{
        line-height: 28px;
    }
    .maloka{
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: nowrap !important;
    }
    .malokaCapa,
    .malokaImagem,
    .malokaTextos{
        width: 100vw;
    }
    .formulario,
    .secaoFormulario{
        width: 100vw;
    }

}