@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
     scroll-behavior: smooth;
}

* {
     box-sizing: border-box;
     font-family: 'Quicksand', sans-serif;
     margin: 0;
     padding: 0;
     text-decoration: none !important;
}

.centerRow {
     align-items: center;
     display: flex;
     justify-content: center;
}

.centerColumn {
     align-items: center;
     display: flex;
     justify-content: center;
     flex-direction: column;
}

.radius {
     border-radius: 10px;
}

body {
     background-color: #f5f5f5;
     min-width: 100vw !important;
}

header {
     min-width: 100vw !important;
}

.container-geral {
     min-height: 100vh !important;
     min-width: 100vw !important;
}

.navigation,
.navbar,
.menu,
.midias {
     background-color: #000000 !important;
}

#home {
     color: rgb(222, 152, 127) !important;
}

.brand {
     width: 8rem
}

.menu a:hover {
     color: #ffa500 !important;
     transform: scale(1.1);
}

.midias i {
     font-size: 1.5rem;
}

.midias i:hover {
     cursor: pointer;
     color: #ffa500 !important;
     transition: .3s ease-in-out;
}

/* CSS para o carrossel */
#myCarousel .carousel-item {
     max-height: 720px;
     /* Defina a altura desejada para as fotos */
     overflow: hidden;
}

#myCarousel .carousel-item img {
     object-fit: cover;
     height: 100%;
     width: 100%;
}


/*.firstPage{
     align-items: center;
     background-image: url('/img/fundo.jpg');
     background-size: cover !important;
     display: flex !important;
     justify-content: center !important;
     min-height: 90vh !important;
     width: auto !important;
}

.firstPage img {
     max-width: 100% !important;
     max-height: auto !important;
}

.firstPageTitle h1 {
     font-size: 3.5rem !important;
     text-align: center !important;
}

.firstPageTitle span {
     color: #ffa500;
}*/

.firstPageForm {
     position: absolute;
     width: 24rem;
     top: 9vh;
     left: 145vh;
     min-height: 30rem;
     backdrop-filter: blur(20px) !important;
     border-radius: 10px !important;
     border: 1px solid rgb(216, 204, 204) !important;
     z-index: 3;
}

.multiploTexto {
     text-shadow: 1px 1px 1px #000000 !important;
     text-transform: uppercase;
}

.historico {
     width: 100vw;
     height: 100vh;
     background-color: #f5f5f5;
}

.historicoImagem{
     background-color: #ecca20;
     width: 4rem;
     height: 4rem;
     border-radius: 50%;
     background-size: cover;
}

.historicoImagem img{
     max-width: fit-content;
}

.historicoTexto p{
     line-height: 35px !important;
}

h5 {
     text-transform: uppercase;
}
*/

.carousel {
     background-color: rgb(81, 83, 85) !important;
}

.carousel img{
     display: block;
     margin-left: auto;
     margin-right: auto;
     max-height: 640px;
}

.carousel-overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade (0.6) conforme desejar */
}

#myCarousel.carousel.slide {
     transition-duration: 1s !important;  
}

.carousel-caption span{
     font-size: 4rem;
}

.carousel-caption h1{
     margin-top: -15rem;
     text-shadow: 1px 1px 1px black;
} 

.historicoBox{
     border-radius: 6px;
}

.historico{
     background-color: white !important;
}

.historicoTexto{
     line-height: 30px !important;
}

#btnFormulario a:hover {
     color: #ffffff !important;
     text-decoration: none !important;
}

.tasks {
     width: 100vw;
     min-height: 70vh !important;
     display: flex;
     align-items: start !important;
     justify-content: center;
     background-color: #ffffff !important;
}

.tasks h4,
.directors h3,
.directors,
.directors h4,
.directors h5,
.midiasDirector i,
.clients h3 {
     color: #ffa500;
}

.task {
     width: 20vw;
     height: auto !important;
}

.taskImage {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 50px;
     height: 50px;
}

.directors {
     background-color: #f5f5f5;
     min-height: 80vh;
     width: 100vw;
}

.director {
     background-color: #ffffff;
     width: 22vw;
     min-height: 30rem;
}

.director p {
     font-size: 0.9rem;
     line-height: 25px;
}

.midiasDirector i {
     font-size: 1.25rem !important;
}

.photoDirector {
     width: 6rem;
     height: 6rem;
     border-radius: 50%;
}

.photoDirector img {
     border-radius: 50%;
     width: 100%;
}

h5 {
     font-size: 0.9rem
}

h6 {
     font-size: 0.85rem
}

.clients {
     width: 100vw;
     height: 90vh;
}

.client {
     width: 8rem;
     height: auto;
}

.client img {
     width: 100%;
}

.formulario {
     background-color: #ffffff;
     width: 70vw;
     min-height: 80vh;
}

.rodape {
     width: 100vw;
     height: 8rem;
     background-color: #000000;
}





/*Responsividade*/
@media screen and (max-width: 35rem) {

     .navbar-nav a,
     .navbar-nav button {
          margin-left: 0 !important;
     }

     .firstPage {
          flex-direction: column;
     }

     .firstPageCard {
          width: 95vw;
     }

     .firstPageTitle {
          width: 95vw;
          display: flex;
          align-items: center;
          justify-content: center;
     }

     .firstPageForm {
          margin: auto;
          padding: auto;
          width: 95vw;
     }

     .firstPageTitle h1 {
          text-align: center;
          font-size: 2.5rem !important;
     }

     .carousel {
          height: 90vh;
     }

     .carousel img {
          height: 90%;
     }

     .directors {
          max-width: 100vw !important;
     }

     .director {
          display: block;
          width: 100vw !important;
          height: auto;
     }

     .clients {
          height: fit-content;
     }

     .formulario {
          width: 99vw;
     }
}


@media screen and (min-width: 36rem) and (max-width: 50rem) {
     .firstPageText h4 {
          font-size: 1rem !important;
     }

     .firstPageTitle h1 {
          text-align: center;
          font-size: 2.5rem !important;
     }

     .firstPageForm {
          margin: auto;
          padding: auto;
          width: 95vw;
     }

     .firstPageCard {
          width: 60vw;
     }

     .director {
          width: 45vw !important;
          height: auto;
     }

     .clients {
          height: fit-content;
     }

     .formulario {
          width: 99vw;
     }

     .firstPage {
          min-height: 90vh;
          padding-bottom: 30px;
     }
}


@media screen and (min-width: 51rem) and (max-width: 70rem) {
     .firstPageText h4 {
          font-size: 1rem !important;
     }

     .firstPageTitle h1 {
          text-align: center;
          font-size: 2.5rem !important;
     }

     .firstPageCard {
          width: 50vw;
     }

     .firstPageForm {
          margin: auto;
          padding: auto;
          width: 95vw;
     }

     .director {
          width: 45vw !important;
          height: auto;
     }

     .clients {
          height: fit-content;
     }

     .formulario {
          width: 99vw;
     }

     .firstPage {
          min-height: 90vh;
          padding-bottom: 30px;
     }
}