*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.tasks{
    width: 100vw;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task{
    width: 20vw;
    height: 50vh;
}



@media screen and (min-width: 17rem) and (max-width: 35rem){
    .tasks{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .task{
        width: 98vw !important;
    }
}