@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html{
     scroll-behavior: smooth;
}

*{
     box-sizing: border-box;
     font-family: 'Quicksand', sans-serif;
     margin: 0;
     padding: 0;
}

.flexRow{
     display: flex;
     align-items: center;
     justify-content: space-around;
     flex-direction: row;
     flex-wrap: wrap;
}

.logo{
     width: 6rem;
}

.navigation{
     width: 80rem;
}

.midias{
     font-size: 1.2rem;
     width: 10rem;
}

.nav-item a:hover{
     transform: scale(1.1);
     color: #ff4500 !important;
     text-decoration: wavy;
}

.carrossel{
     height: 100vh;
}

.whoAre{
     width: 100vw;
     height: 90vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
}

.author{
     border-radius: 10px;
}

.photo{
     width: 90px !important;
     height: 90px !important;
     border-radius: 50% !important;
}

.photo img{
     width: 90%;
     border-radius: 50% !important;
}

.midias i:hover{
     color: #ff4500 !important;
     cursor: pointer;
     transform: scale(1.2);
}

.formulario{
     background-color: rgb(241, 243, 246);
     height: 80vh;
}




/*Media queries para responsividade em dispositivos móveis*/
@media screen and (min-width: 16rem) and (max-width: 36rem) {
     .navigation{
          min-height: 9rem; 
     }
     .midias{
          visibility: hidden;
     }
     .coverSite{
          width: 100%;
          height: 35vh;
     }
     .coverSite img{
          height: 35vh;
     }
}