@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html{
     scroll-behavior: smooth;
}

*{
     box-sizing: border-box;
     font-family: 'Quicksand', sans-serif;
     margin: 0;
     padding: 0;
}

.flexRow{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     flex-wrap: wrap;
}

.logo{
     width: 6rem;
}

.navbar{
     background-color: #000000;
}

.navigation{
     width: 80rem;
}

.midias{
     font-size: 1.2rem;
     width: 10rem;
}

.nav-item a:hover{
     transform: scale(1.1);
     color: #000000 !important;
     text-decoration: wavy;
}

.coverSite{
     width: 50vw;
     margin: 8vh auto !important;
}

.carrossel{
     height: 100vh;
}

.services{
     width: 100vw;
     height: 70vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.services p{
     font-size: 1.2rem;
     line-height: 40px;
     width: 80vw;
}

.services span{
     font-size: 3rem;
}

.sectionTitle h3{
     font-size: 2rem;
}

.midias i:hover{
     color: #ff4500 !important;
     cursor: pointer;
     transform: scale(1.2);
}

.formulario{
     background-color: rgb(241, 243, 246);
     height: auto;
}




/*Media queries para responsividade em dispositivos móveis*/
@media screen and (min-width: 16rem) and (max-width: 53rem) {
     .navigation{
          min-height: 9rem; 
     }
     .midias{
          visibility: hidden;
     }
     .embed-responsive iframe{
          width: 100vw !important;
     }
     .coverSite{
          width: 100vw;
     }
     .services{
          flex-direction: column;
          height: auto;
     }
     .services p{
          width: 95vw;
     }
     .formulario{
          margin-top: -360px !important;
     }
}


