@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html{
     scroll-behavior: smooth;
}

body{
     background-color: #f5f5f5;
}

*{
     box-sizing: border-box;
     font-family: 'Quicksand', sans-serif;
     margin: 0;
     padding: 0;
}

.flexRow{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     flex-wrap: wrap;
}

.logo{
     width: 6rem;
}

.navbar{
     background-color: #000000;
}

.navigation{
     width: 80rem;
}

.midias{
     font-size: 1.2rem;
     width: 10rem;
}

.nav-item a:hover{
     transform: scale(1.1);
     color: #000000 !important;
     text-decoration: wavy;
}

.coverSite{
     width: 50vw;
     max-height: 100vh !important;
     margin: 8vh auto !important;
}

.historic{
     width: 100vw;
     background-color: #ffffff;
     min-height: 100vh;
}

.historicPhoto{
     max-width: 45vw;
     max-height: 45vh;
}

.historicPhoto img{
     width: 100%;
     border-radius: 10px;
}

.services{
     width: 100vw;
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.services p{
     font-size: 1.15rem;
     line-height: 30px;
     width: 80vw;
}

.services span{
     font-size: 3rem;
}

.sectionTitle h3{
     font-size: 2rem;
}

.directors{
     background-color: #f5f5f5;
     width: 100vw;
     min-height: 100vh;
}

.director{
     background-color: #ffffff;
     min-width: 20vw;
     min-height: 32rem;
     border-radius: 10px;
}

.director h5{
     font-size: 1.2rem;
}

.director h6{
     font-size: 0.9rem;
}

.photo{
     width: 100px;
     height: 100px;
     border-radius: 50%;
     background-color: #f5f5f5;
}

.photo img{
     width: 100%;
     border-radius: 50%;
}

.midias i:hover, 
.midiasDirector i:hover{
     color: #ff4500 !important;
     cursor: pointer;
     transform: scale(1.2);
}

.partnersEnterprises{
     background-color: #ffffff;
     border-radius: 8px !important;
     width: 100vw;
     min-height: 85vh;
}

.enterprise{
     border-radius: 8px !important;
     max-width: 200px;
}

.enterprise img{
     width: 100%;
}

.formulario{
     background-color: rgb(241, 243, 246);
     height: auto;
}






/*Media queries para responsividade em dispositivos móveis*/
@media screen and (min-width: 16rem) and (max-width: 53rem) {
     .navigation{
          min-height: 9rem; 
     }
     .midias{
          visibility: hidden;
     }
     .embed-responsive iframe{
          width: 100vw !important;
     }
     .coverSite{
          width: 100vw;
     }
     .services{
          flex-direction: column;
          height: auto;
     }
     .services p{
          width: 95vw;
     }
     .formulario{
          margin-top: 100px !important;
     }
     .directors{
          display: block;
          min-height: 100vh !important;
          margin: 5vh auto;
     }
     .director{
          width: 99vw !important;
     }
     .historicPhoto{
          max-width: 100vw;
          margin: 2vh auto;
     }
}


