*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.caixaViviane{
    width: 100vw !important;
    min-height: 110vh !important;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: "15vw 42vw 42vw";
    grid-template-areas: "viviTitulo viviTitulo viviTitulo"
                         "viviBanner viviTextos viviTextos"
                         "viviBanner viviTextos viviTextos"
                         "viviCarrossel viviCarrossel viviCarrossel";
    gap: 5px;
}

.viviTitulo{
    grid-area: viviTitulo;
    height: 50px;
}

.viviBanner{
    background-color: orange;
    grid-area: viviBanner;
    height: 50vh;
    width: 20vw !important;
    border-radius: 50%;
}

.viviBanner img{
    max-width: 100% !important;
}

.viviTextos{
    grid-area: viviTextos;
    width: 78vw;
    height: 50vh;
}

.viviCarrossel{
    min-height: 60vh;
    grid-area: viviCarrossel;
}



/*Resolução para dispositivos com até 512px ou 32rem*/
@media screen and (max-width: 30rem) {
    .viviTitulo h2{
        font-size: 1.5rem !important;
        margin-bottom: 10px;
    }
    .caixaViviane{
        display: flex;
        width: 100vw;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .viviBanner{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw !important;
        height: auto;
    }
    .viviTextos{
        width: 100vw;
        height: auto;
        text-align: center;
        padding: 5px auto;
    }

}
